.desktop-only {
    display: none;
}

.mobile-only {
    display: block;
}

.img-logo img{
    width: 6em;
}

.app-logo {
    width: 12em;
}

.main-menu {
    color: #115290 !important;
}

.main-menu.active {
    font-weight: bold;
}

.profile-card {
    width : 90%;
}

.badge.badge-filter {
    font-size: 0.9em;
}

.select2-container--bootstrap-5 .select2-selection {
    font-size: 0.9rem;
}

#registerForm .form-control {
    background-color: #fff;
}

.card-auth {
    width: auto;
    height: 100%;
    text-align: center;
    border-radius:10% !important;
}

.card-auth .card-title {
    margin-bottom:1rem;
    margin-top: 1rem;
}

.carousel-control-prev.control-home {
    left: 0pt !important;
}

.carousel-control-next.control-home {
    right: 0pt !important;
}

/* applied for mobile / tablet*/
@media(max-width: 767.9px){ 
    .register-col {
        width:85%;
    }

    .carousel-card {
        display: block;
        width: 80%;
        margin:auto;
        padding: 0 15px;
    }

    .card-event {
        text-decoration: none;
        color: black;
        width: 80%;
        height: max-content;
        margin: 0;
        padding: 0;
        /* box-sizing: border-box; */
    }

    #card-event-row {
        display: flex;
        justify-content: center;
    }

    .card-event .card-event-img{
        object-fit: cover;
        max-width: auto;
        height: 250px;
    }
}

/* applied when large screen / desktop */
@media (min-width: 768px) {
    .desktop-only {
        display: block;
    }
    
    .mobile-only {
        display: none;
    }

    .profile-card {
        width: 70%;
    }

    .card-auth {
        width: 565pt;
    }

    .card-auth .card-title {
        margin-bottom:4rem;
        margin-top: 4rem;
    }

    .carousel-control-prev.control-home {
        left: -75pt !important;
    }

    .carousel-control-next.control-home {
        right: -75pt !important;
    }
    
    .card-event{
        width: 100%;
        text-decoration: none;
        color: black;
        height: max-content;
        margin: 0;
        padding: 0;
        /* box-sizing: border-box; */
    }

    .card-event .card-event-img{
        object-fit: cover;
        max-width: auto;
        height: 300px;
    }
}