.img-logo img{
    width: 6em;
}

.app-logo {
    width: 12em;
}

.main-menu {
    color: #115290 !important;
}

.main-menu.active {
    font-weight: bold;
}

.profile-card {
    width : 90%;
}

@media (min-width: 768px) {
    .profile-card {
        width: 70%;
    }
}